*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix style for floating object container */
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

body{
    font-family: 'open sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

.row{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.row .banner-heading{
    padding: 40px 60px;
    font-size: 70px;
    font-style: italic;
}

.row .banner-text{
    background: white;
    color: black;
    padding: 40px 10px;
}

.row-100{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.row-column-100{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-column{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.custom-font {
    font-family: 'playfair display', serif;
}

header{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 60px;
    background-image:url('../images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

header .banner{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.banner .banner-heading{
    font-size: 6rem;
    font-style: italic;
    padding: 0 1.2rem;
}

.banner .banner-text{
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    color: black;
    padding: 30px;
}

.hanny-section{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: rosybrown;
    color: white;
}
.hanny{
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 15px;
}

.hanny span{
    font-size: 6rem;
    line-height: 0;
}

.hanny-section p{
    width: 50%;
    font-size: 0.8rem;
}

.gallery .img-container{
    height: 500px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    margin: 0 auto; 
}

.gallery .gallery-img{
    height: 100%;
    width: 100%;
}

.gallery .gallery-img-1{
    background-image: url(../images/gallery-1.jpeg);
    background-size: cover;
}
.gallery .gallery-img-2{
    background-image: url(../images/gallery-2.jpeg);
    background-size: cover
}
.gallery .gallery-img-3{
    background-image: url(../images/gallery-3.jpeg);
    background-size: cover;
}
.gallery .gallery-img-4{
    background-image: url(../images/gallery-4.jpeg);
    background-size: cover;
}
.gallery .gallery-img-5{
    background-image: url(../images/gallery-5.jpeg);
    background-size: cover;
}
.gallery .gallery-img-6{
    background-image: url(../images/gallery-6.jpeg);
    background-size: cover;
}

.coming-soon{
    background-color: rosybrown;
    color: white;
    padding: 40px 0;
}

.coming-soon .row-column-100{
    justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form {
   text-align: center;
}

.coming-soon .coming-soon-heading{
    font-size: 4rem;
    font-style: italic;
}

.coming-soon .coming-soon-text{
    font-size: 1.4rem;
}

.coming-soon .coming-soon-form{
    margin-top: 35px;
}

.coming-soon .row-100{
    justify-content: center;
}
.coming-soon-form .input-container{
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.input-container .text-input,
.input-container .form-btn {
    padding: 10px 10px;
    border: unset;
    border-radius: 15px;
}

.input-container .form-btn {
    background: #000;
    color: #fff;
}

.article {
    background-color: white;
    padding: 3rem;
}

.article-img-container,.article-text-container {
    height: 45rem;
    display: flex;
    align-items: center;
}
.article-img-container {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 30%;
}

.article-img-container .article-img {
    width: 100%;
}
.article-text-container {
    flex-grow: 5;
    flex-basis: 30%;
    flex-shrink: 0;
    padding: 1.3rem;
}

.article-text-container .article-text {
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 2rem;
}
.slide {
    padding: 3.5rem;
    background-color: rosybrown;
    color: white;
}

.slide .row-100{
    justify-content: center;
}

.slide-heading {
    font-size: 3.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.slide-img-container {
    height: 350px;
    overflow: hidden;
}

.slide-img-container {
    flex-grow: 1;
    height: 350px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin: 0.3rem;
}

.slide-img-1 {
    background-image: url('../images/slide-1.jpg');
}
.slide-img-2{
    background-image: url('../images/slide-2.jpg');
}
.slide-img-3{
    background-image: url('../images/slide-3.jpg');
}
.slide-img-4{
    background-image: url('../images/slide-4.jpg');
}

.slide-img {
    width: 100%;
}

.slide-img-container {
    margin-top: 1.4rem;
    font-size: 2rem;
}

.product {
    padding: 4.5rem;
}

.product-container {
    height: 450px;
    width: 100%;
    /* flex-grow: 1; */
    overflow: hidden;
    /* align-items: center; */
    display: flex;
    flex-basis: 48%;
    justify-content: space-between;
}

.product-container .product-description {
    padding: 1.0rem;
}
.product-container .image-box img {
    height: 100%;
    width: 100%;
}

.image-box {
    height: 350px;
    width: 48%;
}
.product-description {
    height: 300px;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 50%;
}

.product-description h4 {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 1.2rem;
}

.product-description .price-tag {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
}

.product-description p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

.product-description button {
    width: 150px;
    padding: 0.5rem;
    border-radius: 1.1rem;
    background-color: black;
    color: white;
    border: unset;
    text-transform: uppercase;
    cursor: pointer;
}

.product-description button:hover {
    background-color: rosybrown;
}

.subscribe {
    /* display: flex; */
    /* flex-direction: column; */

}
.subscribe-img-container,.subscribe-text-container {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.subscribe-text {
    justify-content: center;
    height: 50px;
    font-weight: lighter;
    padding: 1rem;
}

.subscribe-img-container {
    background-image: url(../images/subscribe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.subscribe-heading {
    text-align: center;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 400;
}

.subscribe-heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 8%;
    background-color: rosybrown;
    align-items: center;
}

.button-container {
    text-align: center;
}

.input-container {
    display: flex;

}

.input-container input {
    padding: 0.6rem 1rem;
    margin: 1rem .5rem;
    width: 48%;
    justify-content: space-between;
}

.button-container button {
    width: 6rem;
    padding: 0.7rem;
    background-color: #000;
    color: white;
    border: unset;
    border-radius: 1.5rem;
    text-align: center;

}

.social-icon {
    margin: 2rem auto;
    display: flex;
}
.social-icon .twitter {
        padding: 0 25px;
}        